<span nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
      <nz-avatar class="avatar" nzSize="small" nzText="D"></nz-avatar>
      <span>{{ realName }}</span>
    </span>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item>
      <i nz-icon nzType="user" nzTheme="outline"></i>
      <span>个人中心</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="setting" nzTheme="outline"></i>
      <span>账户设置</span>
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="logout" nzTheme="outline"></i>
      <span>退出登录</span>
    </li>
  </ul>
</nz-dropdown-menu>
